@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gurpgork</title>
</head>
<body>
    <canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
    
    <div style="position:absolute;bottom:90%;left:0px;width:10%;height:10%;background:green;" id="green" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:10%;width:10%;height:10%;background:blue;" id="blue" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:20%;width:10%;height:10%;background:red;" id="red" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:30%;width:10%;height:10%;background:yellow;" id="yellow" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:40%;width:10%;height:10%;background:orange;" id="orange" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:50%;width:10%;height:10%;background:black;" id="black" onclick="color(this)"></div>
    <div style="position:absolute;bottom:90%;left:60%;width:10%;height:10%;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
    

    <script src="~/lib/signalr/signalr.js"></script>    
    <script src="~/js/chat.js"></script>
</body>
</html>